@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>

<body background="@Url.Content("~/Images/donuts.jpg")">
    <p>
        Poppel is a manufacturer and importer of confectionary and soft drinks based in the Western Cape.
        Poppel was started by Angus McClaren and Bertus van Heerden in 2003.
        Angus was a merchandising buyer for a retail chain and saw an opportunity to re-introduce confectionary that was popular
        whilst he was growing up. After securing funding he and his business partner, Bertus, started manufacturing confectionary.
        After growing the business steadily, they were able to introduce more products, mostly imported from China,
        as well as grow the local manufacturing component.
    </p>
</body>




