
<div class="topHeader" background="@Url.Content("~/Images/confectionery.jpg")">
    <div class="jumbotron" background="@Url.Content("~/Images/confectionery.jpg")">
        @{ if (ViewBag.Welcome == "")
            {

            }
            else {
                <h4>@ViewBag.Welcome</h4>
            }
        }

        <h1>Poppel</h1>
        <p class="lead">South Africa's Best Confectionary and Soft Drinks Store.</p>
    </div>
</div>

<div class="row">
    <h4>Poppel is a manufacturer and importer of confectionary and soft drinks based in the Western Cape. 
    The organisation has been growing rapidly over the last 3 years with the 
    introduction of branded products for the large retail chains.</h4>
</div>